html, body{
  height: 100%;
  width: 100%;
}

body {
	text-align: center;
  overflow-x: hidden;
  bottom: 3220px;

}
.about-me{
	text-align: center;
}
div{
	color: black;

}
	
	
	
	

}
.container{
   
}
	
}

.row{
	
}






/* Start of Paralaz
*
*
*
*/

*////////////////////////////////////////////////////////////////////////////////////////////////////










/* Start of Sparkles 
 *
 *
 *
 */

 #container{
 	width: 960px;
 	margin: 0px auto;
 }

 #left-column{
 	width: 700px;
 	float: left;
 	background:blue;
 }

 #right-column{
 	width: 260px;
 	float: left;
 	background:orange;
 }

 @media screen and (max-width: 959px){
 	#container{
 		width: 100%
 	}
 	#left-column{
 		width: 70%
 	}
 	#right-column{
 		width: 30%
 	}
 	img{
 		width: 100%
 	}
 }




* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: .75em;
  background-size: cover;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;
  text-decoration: none;
  font: 1.4em sans-serif;
  transition: color .3s ease-in-out;
}
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 19%;
  background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
nav[role="custom-dropdown"] ul > li:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}
@media(max-width: 320px){
	h1{
		text-align: center;
	}
	header{
		border:5px solid;
		text-decoration: underline;
	}
}







 body {
      margin: 0;
      padding: 0;
      background: #EEE;
      font: 10px/13px 'Lucida Sans',sans-serif;
    }

.wrap {
  margin: auto;
  width: 100%;
  max-width: 9000px;
}

    .box {
      float: left;
      position: relative;
      width: 20%;
      padding-bottom: 20%;
      
      
    }
    .boxInner {
      position: absolute;
      left: 10px;
      right: 10px;
      top: 10px;
      bottom: 10px;
      overflow: hidden;
    }
    .boxInner img {
      width: 100%;
    }
    .boxInner .titleBox {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-bottom: -50px;
      background: #000;
      background: rgba(0, 0, 0, 0.5);
      color: #FFF;
      padding: 10px;
      text-align: center;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
    body.no-touch .boxInner:hover .titleBox, body.touch .boxInner.touchFocus .titleBox {
      margin-bottom: 0;
    }
    @media only screen and (max-width : 480px) {
      /* Smartphone view: 1 tile */
      .box {
        width: 100%;
        padding-bottom: 100%;
      }
    }
    @media only screen and (max-width : 650px) and (min-width : 481px) {
      /* Tablet view: 2 tiles */
      .box {
        width: 50%;
        padding-bottom: 50%;
      }
    }
    @media only screen and (max-width : 1050px) and (min-width : 651px) {
      /* Small desktop / ipad view: 3 tiles */
      .box {
        width: 33.3%;
        padding-bottom: 33.3%;
      }
    }
    @media only screen and (max-width : 12900px) and (min-width : 1051px) {
      /* Medium desktop: 4 tiles */
      .box {
        width: 25%;
        padding-bottom: 25%;
      }
    }



