html, body{
  height: 100%;
  width: 100%;
}

body {
	text-align: center;
  overflow-x: hidden;
  bottom: 3220px;

}
.about-me{
	text-align: center;
}
div{
	color: black;

}
	
	
	
	

}
.container{
   
}
	
}

.row{
	
}








/* Start of Paralaz
*
*
*
*/

*////////////////////////////////////////////////////////////////////////////////////////////////////










/* Start of Sparkles 
 *
 *
 *
 */

 #container{
 	width: 960px;
 	margin: 0px auto;
 }

 #left-column{
 	width: 700px;
 	float: left;
 	background:blue;
 }

 #right-column{
 	width: 260px;
 	float: left;
 	background:orange;
 }

 @media screen and (max-width: 959px){
 	#container{
 		width: 100%
 	}
 	#left-column{
 		width: 70%
 	}
 	#right-column{
 		width: 30%
 	}
 	img{
 		width: 100%
 	}
 }




* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: .75em;
  background-size: cover;
}

/* Advanced Checkbox Hack */
body {
  -webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label {
  display: none;
  cursor: pointer;
  user-select: none;
}

/* background for li / select */
/* custom-dropdown */
nav[role="custom-dropdown"] {
  position: relative;
  width: 100%;
}
nav[role="custom-dropdown"] a,
nav[role="custom-dropdown"] label {
  color: #ccc;
  text-decoration: none;
  font: 1.4em sans-serif;
  transition: color .3s ease-in-out;
}
nav[role="custom-dropdown"] ul {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  list-style: none;
}
nav[role="custom-dropdown"] ul > li {
  float: left;
  padding: .55em .55em;
  width: 20%;
  background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  text-align: center;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: box-shadow, color;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
nav[role="custom-dropdown"] ul > li:hover {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.35), inset 0 0 0 2em rgba(0, 0, 0, 0.3);
}
nav[role="custom-dropdown"] ul > li:hover > a {
  color: #fff;
}

/* small screens */
@media screen and (max-width: 44em) {
  html,
  body {
    margin: 0;
  }

  nav[role="custom-dropdown"] ul {
    display: none;
    height: 100%;
  }
  nav[role="custom-dropdown"] label {
    position: relative;
    display: block;
    width: 100%;
    min-height: 2.25em;
    padding: .45em;
    font-size: 1.1em;
    margin: 0;
    border: 0.15em solid rgba(60, 60, 60, 0.2);
    background-image: url(https://raw.github.com/TimPietrusky/mantisbt-is-a-rockstar/master/rockstar/img/bg_dark_grey.png);
  }
  nav[role="custom-dropdown"] label:after {
    position: absolute;
    right: .25em;
    top: 0;
    content: "\2261";
    font-size: 1.8em;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ label:after {
    color: #222;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul {
    display: block;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li {
    width: 100%;
    opacity: .8;
    text-align: left;
  }
  nav[role="custom-dropdown"] input[type=checkbox]:checked ~ ul > li:after {
    position: absolute;
    right: .25em;
    content: "\203A";
    font: bold 1.4em sans-serif;
  }
}
@media(max-width: 320px){
	h1{
		text-align: center;
	}
	header{
		border:5px solid;
		text-decoration: underline;
	}
}







body {
  margin: 0;
  padding: 0;
}

img {
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 1;  
  display: block;
  width: 100%;
}

a {
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
  float: left;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
}

a:hover img {
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

h3 {
  position: absolute;
  top: 35%;  
  z-index: 2;
  font-size: 28px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 100%; 
  height: 100%;
}

@media (min-width: 500px) {
  a {
    width: 50%;
  }
}

@media (min-width: 800px) {
  a {
    width: 33.3333%;
  }

  a.links {
  		width: 80%
  	}
  









@import url('http://fonts.googleapis.com/css?family=Lato:300,700');
* {
  margin: 0;
  padding: 0;
}
body,
html {
  color: #2C2C2C;
  font: 300 100% 'Lato', sans-serif;
}
article {
  font-size: 1.3em;
  min-height: 700px;
  padding: 10% 10px;
  font-weight: 200;
  text-align: center;
  background-color: white;
}
.colorful article:nth-of-type(1) {
  background-color: #CCFFFF;
}
.colorful article:nth-of-type(2) {
  background-color: #FFF581;
}
.colorful article:nth-of-type(3) {
  background-color: #2AEEE6;
}
.colorful article:nth-of-type(4) {
  background-color: #313131;
  color: #3FC9C3;
}
.colorful article article:nth-of-type(5) {
  background-color: white;
}
article > div {
  display: inline-block;
  text-align: left;
  max-width: 60%;
}
article h1 {
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 100px;
}
p {
  line-height: 200%;
  max-width: 50%;
  text-align: left;
  margin: auto;
}
a {
  text-decoration: none;
  text-transform: uppercase;
}
/*___________________________________ LINK ___________________________________ */
a.nice-link {
  position: relative;
  color: #0092ca;
}
h1 a.nice-link:after {
  border-bottom: 1px solid #00d0f3;
}
a.nice-link:after {
  text-align: justify;
  display: inline-block;
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #00d0f3;
  min-height: 100%;
  width: 0;
  max-width: 100%;
  -moz-transition: .3s;
  -o-transition: .3s;
  -webkit-transition: .3s;
  transition: .3s;
}
a.nice-link:hover {
  color: #0092ca;
}
a.nice-link:hover:after {
  width: 100%;
}


html, body {
  height: 100%;
  margin: -2px 0 0 0;
  color: black; 
}

a:hover {
  color: #A99FA1;
}



section h1 {
  padding-top: 17%;
  font-family: 'Vollkorn', serif;
  font-size: 48px;
}


section p {
  width: 500px;
  margin: 30px auto 32px;
  font-family: 'Muli', sans-serif;
  font-size: 18px;
  line-height: 1.35;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

body{
	font-family: sans-serif;
	padding: 2rem 4rem;
	background-color: #f5f5f5;
}

section{
  width: 200px;
  margin: 0 auto;
}

<style>
body {
    background-image: url("skulls.png");

}
</style>
















