html, body{
  height: 100%;
  width: 100%;
}

body {
	text-align: center;
  overflow-x: hidden;

}
.about-me{
	text-align: center;
}
div{
	color: cyan;

}
	
	
	
	

}
.container{
   margin-right: 32px;
}
	
}

.row{
	
}



/* Start of Paralaz
*
*
*
*/
.img {
  height: 500px;
  background-attachment: fixed;
  position: relative;
  }
  
 .img p {
  position: absolute;
  left: 60px;
  top: 80px;
  color: #fff;
  background: #000;
  padding: 5px 10px;
  font-size: 46px;
}

.img1 {
  background-image: url( http://lorempixel.com/1920/1080/business/1);
}

.img2 {
  background-image: url( http://lorempixel.com/1920/1080/business/2);
}

.img3 {
  background-image: url( http://lorempixel.com/1920/1080/business/3);
}

.img4 {
  background-image: url( http://lorempixel.com/1920/1080/business/4);
}

img p {
  position absolute;
  left: 60px;
  top: 80px;
}





/* Start of Sparkles 
 *
 *
 *
 */
